<!DOCTYPE html>
<html>
<head>
       <title>Powder Load Prediction App</title>
</head>
<body>
    <h1>50 Cal Powder Load Calculator</h1>
    <h2>Barrel 16 Muzzle Size = 0.489"</h2>
    <form action="/50cal" method="POST">
        <p> Input Muzzle Size: <input name="muzzle" type ="number" step="0.0001" value="0.489" /> </p>
        <p> Input Sabot OD: <input name="sabot" type ="number" step="0.0001" value="0.4965" /> </p>
        <p> Input LP Mass: <input name="lpmass" type ="number" step="0.0001" value="1.15" /> </p>
        <p> <input type ="submit" value="Submit" /> </p>


</form>
    
</body>
</html>